/* Variables */
:root{
    --border-fillupform: 1px solid rgb(226, 67, 67);
    --border-test: 0px solid black;
    --shadow-color-body: rgb(141, 150, 153);
    --shadow-fillupform: 0px 5px 10px 0px rgb(197, 203, 204);
    --padLR-formcont: 25px;
    --createbutton-color: #596D48;
    --buttontext-color: rgb(255, 253, 244);
    --inputborder-color: #E5E7EB;
}

/* Centers the whole page */
html{
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 5vw;
    padding: 0;
    /* border: var(--border-test); */
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 25px;
    box-shadow: 5px 10px 10px 0px var(--shadow-color-body);
    width: 85vw;
}

.bannersection{
    width:25vw;
    height: 100%;
    background-image: url("img/karl-hedin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    .credit, .credit>a{
        margin-bottom: 6px;
        padding: 0px;
        color: var(--buttontext-color);
        text-decoration: none;
        font-size: 12px;

        a{
            font-weight: 700;
        }
    }
}

.headcontent{
    width: 35vw;
}

.forms-container {
    border: var(--border-test);
    box-sizing: border-box;
    padding: 0 var(--padLR-formcont) 0 var(--padLR-formcont);

    header{
        font-weight: 600;
    }
}


.fillupform {
    background-color: rgb(255, 255, 248);
    box-shadow: var(--shadow-fillupform);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
    margin-left: calc(var(--padLR-formcont)*-1);
    margin-right: calc(var(--padLR-formcont)*-1);
    padding-bottom: 15px;
}

.formcontent {
    border: var(--border-test);
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-left: var(--padLR-formcont);

    label{
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 8px;
        font-size: 10px;
        font-weight: 500;
    }

    input{
        padding-top: 4px;
        padding-bottom: 4px;
        border: 1px solid var(--inputborder-color);
        border-radius: 5px;

        
    }

    #password, #passwordconfirmation{
        border: 1px solid red;
    }

    input:focus{
        outline: none;
        border: 1px solid rgb(134, 227, 255);
        box-shadow: 2px 2px 3px 1px var(--shadow-color-body);
    }

    
}

.dothis{
    margin: 0 0 0 var(--padLR-formcont);
    padding: 0;
}

.inputform{
    display: flex;
    border: var(--border-test);
    gap: 2.5vw;
}

form label{
    padding: 5px;
}

.confirmcreation{
    background-color: var(--createbutton-color);
    color: var(--buttontext-color);
    box-sizing: border-box;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: 25px;
    border: 1px solid var(--buttontext-color);
    border-radius: 10px;
    box-shadow: 3px 2px 5px 0px var(--shadow-color-body);
    font-size: 14px;
}

.submitsection>p{
    padding-top: 15px;
    font-size: 12px;

    a{
        text-decoration: none;
        font-weight: 700;
        color: var(--createbutton-color);
    }
}