body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.imagebanner {
    width: 300px;
}

.formcontent {
    display: flex;
    flex-direction: column;
}

.fillupform {
    display: flex;
}

.formcontent{
    padding: 3px;
}

form label{
    padding: 5px;
}